<section class="border p-4 text-center mb-4">
  <section class="text-center">
    <h1>Kevin Haynes</h1>

    <h5>Senior Software Engineer</h5>

    <hr class="my-4" />

    <div class="resume-section">
      <h4>Professional Objective</h4>
      <p>
        I enjoy building software that makes people happy! I’m a Senior Software Engineer with 6 years experience building cloud based web applications.
      </p>
    </div>

    <hr class="my-4" />

    <div class="resume-section">
      <h4>Languages and Technologies</h4>
      <p>
        Java, C#, C++, JavaScript, Python, SQL, N1QL, PostgreSQL, Spring, SpringBoot, Oracle Database, Couchbase, Kubernetes, Kafka, AWS, JUnit, Mockito, Agile SDLC, Test Driven Development, Process Automation, Jenkins, Maven, Gradle, Git, RESTful Architecture, IntelliJ IDEA, Bitbucket/GitHub, Unity 5
      </p>
    </div>

    <hr class="my-4" />

    <div class="resume-section">
      <h4>Education</h4>
      <ul>
        <li>
          University of South Carolina, Columbia, SC
          <ul>
            <li>
              Bachelor of Science in Computer Engineering, May 2015 <br>
              Dean’s List, College of Engineering
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <hr class="my-4" />

    <div class="resume-section">
      <h5>The Walt Disney Company</h5>

      <p class="small text-muted text-uppercase mb-2">
        Senior Software Engineer <br>
        January 2021 - Current
      </p>

      <ul class="resume-job-description">
        <li>
          Built microservices from scratch for the Disney Genie project
        </li>
        <li>
          Maintain documentation so that other engineers are able to understand how to use my services quickly and effectively
        </li>
        <li>
          Integrated new services with existing applications by reading API contracts
        </li>
        <li>
          Write API design contracts with Swagger for new services and maintain swagger-ui documentation
        </li>
        <li>
          Setup swagger-ui on existing project to utilize Springfox documentation annotations, making API documentation very easy to read for Product Owners as well as developers
        </li>
        <li>
          Work with Product Owners ensuring requirements are met, reducing tech debt and change requests
        </li>
        <li>
          Review architecture design to be built in AWS
        </li>
      </ul>
    </div>

    <div class="resume-section">
      <h5>Phoenix Defense</h5>

      <p class="small text-muted text-uppercase mb-2">
        Senior Software Engineer <br>
        May 2020 - January 2021
      </p>

      <ul class="resume-job-description">
        <li>
          Worked on US Army JLCCTC software modeling and simulation capability that contributes to the Army’s Training Support System
        </li>
        <li>
          Built real-time RESTful services with Spring, Apache CXF, and SpringBoot
        </li>
        <li>
          Participate in defense contract project transition:
          <ul>
            <li>Migrate repos, setup development VM environments in Windows and RedHat Linux Distros, Organize documentation for my team</li>
          </ul>
        </li>
        <li>
          Setup Gradle for my team’s services to build, test, and deploy
        </li>
        <li>
          Conducted thorough and detailed code reviews; also ensuring relevant tests were written, documentation was updated, and code style was maintained
        </li>
      </ul>
    </div>

    <div class="resume-section">
      <h5>The Walt Disney Company</h5>

      <p class="small text-muted text-uppercase mb-2">
        Senior Software Engineer <br>
        March 2020 - April 2020
      </p>

      <ul class="resume-job-description">
        <li>
          Built microservices from scratch for the Disney Genie project
        </li>
        <li>
          Maintain documentation so that other engineers are able to understand how to use my services quickly and effectively
        </li>
        <li>
          Integrated new services with existing applications by reading API contracts
        </li>
        <li>
          Write API design contracts with Swagger for new services and maintain swagger-ui documentation
        </li>
        <li>
          Setup swagger-ui on existing project to utilize Springfox documentation annotations, making API documentation very easy to read for Product Owners as well as developers
        </li>
        <li>
          Work with Product Owners ensuring requirements are met, reducing tech debt and change requests
        </li>
        <li>
          Review architecture design to be built in AWS
        </li>
      </ul>
    </div>

    <div class="resume-section">
      <h5>Accesso</h5>

      <p class="small text-muted text-uppercase mb-2">
        Software Engineer II <br>
        August 2019 - March 2020
      </p>

      <ul class="resume-job-description">
        <li>
          Implement RESTful microservices to support clients’ eCommerce and park experience operations
        </li>
        <li>
          Utilize Java 8 features like Lambda Expressions, Filters, Stream API, forEach() method in Iterable interface, new Date API, Predicates and Functional Interfaces
        </li>
        <li>
          Build technical design documents, break Features into User Stories and provide technical feedback to product owners based on product requirements
        </li>
        <li>
          Identify and implement design patterns to use for new services like DAO, MVC, Circuit Breaker
        </li>
        <li>
          Use kubectl to manage Kubernetes clusters, verify services are deployed as Pods, and triage services reported in a bad state
        </li>
        <li>
          Write Swagger design contracts for new RESTful service
        </li>
        <li>
          Use Lombok annotations to handle boilerplate Java(Getters/Setters/ToString/etc.) and help keep POJOs easy to read and maintain
        </li>
        <li>
          Utilize Jenkins to handle automated deployment pipelines, such as kicking off a deployment job after every merge to master and moving up to QA on a nightly build
        </li>
        <li>
          Support production environments of 20+ microservices as part of the on-call rotation
        </li>
        <li>
          Integrate services with Datadog to handle metrics and downtime notifications
        </li>
        <li>
          Demonstrate my work during sprint reviews in a way that is engaging and relevant to product owners so they can see how my work helps the organization beyond my current scrum team
        </li>
        <li>
          Engage with and encourage other engineers; I am always willing to pitch in to help
        </li>
      </ul>
    </div>

    <div class="resume-section">
      <h5>Benefitfocus</h5>

      <p class="small text-muted text-uppercase mb-2">
        Software Engineer I -> II <br>
        June 2015 - August 2019
      </p>

      <ul class="resume-job-description">
        <li>
          Built web application features to improve a cloud based healthcare benefits enrollment application
        </li>
        <li>
          Oversaw Java 7 migration to Java 8’s new Date and Time API
        </li>
        <li>
          Broke out small chunks of the main monolithic architecture into microservices
        </li>
        <li>
          Used DAO design pattern setup for Oracle Database integration
        </li>
        <li>
          Participated in tech designs from an early point in the implementation process, providing input to product owners to ensure we can provide what they are asking us to build
        </li>
        <li>
          Took initiative to increase team velocity by 33% in 3 months by learning our in-house JavaScript UI framework (Boomerang) and Ajax, eliminating our dependency on other teams for new UI work
        </li>
        <li>
          Converted front end JSP files to our Boomerang framework
        </li>
        <li>
          Conducted thorough and detailed code reviews; ensuring documentation was updated and code style was maintained
        </li>
        <li>
          Quickly built framework for MVP features and helped setup QA for end to end testing
        </li>
        <li>
          Participated in the conversion from Waterfall to Agile SDLC
        </li>
        <li>
          Presented new features to customer support specialists during sprint reviews, these were the main users of the client configuration portion our application
        </li>
      </ul>
    </div>

    <div class="resume-section">
      <h5>Liberty Income Tax</h5>

      <p class="small text-muted text-uppercase mb-2">
        IT/Tech Support <br>
        December 2005 - April 2015
      </p>

      <ul class="resume-job-description">
        <li>
          Maintained computer workstations for all employees
        </li>
        <li>
          Developed interpersonal skills to ease customer concerns while fixing problems with workstations, using every opportunity to connect with the people to whom we provide services
        </li>
        <li>
          Got first hand knowledge of how the internal software was being received by employees and relayed opportunities to improve to corporate
        </li>
        <li>
          Kept workstations across multiple offices up to date with latest Windows updates
        </li>
      </ul>
    </div>
  </section>
</section>
