name: Deploy Site to Github-Pages
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1 #this will install Node and npm on Ubuntu
      with:
        node-version: '12.x'
    - run: npm install
      working-directory: ./kevin-haynes-homesite-app
    - run: npm install -g @angular/cli > /dev/null
      working-directory: ./kevin-haynes-homesite-app
    - run: ng build --prod --output-path=dist
      working-directory: ./kevin-haynes-homesite-app
    
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist
